.new-event-form label,
.new-event-form input{
    display: block;
    text-align: left;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
    font-size:  1.2rem;
}

.new-event-form button{
  background: #ff4500;
  color: antiquewhite;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  margin: 10px auto;
  cursor: pointer;
  width: 400px;
}